@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
h1 {
  font-family: 'Fascinate Inline', cursive;
  color: #4BA757;
}
p {
  font-family: 'Merienda', cursive;
  font-size: 20px; 
}
body {
  background-image: url("https://github.com/hydro-flask/Random/blob/master/Gradient%202.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
