@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
h1 {
  font-family: 'Fascinate Inline', cursive;
  color: #4BA757;
}
p {
  font-family: 'Merienda', cursive;
  font-size: 20px; 
}
body {
  background-color: #88AEFF
}
h2 {
  font-family: 'Bangers', cursive;
}
h3 {
  font-family: 'Cinzel', serif;
  font-size: 30px
}
